<li class="item" data-id="" data-object="items" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div class="header fa fa-arrows"></div>
  <div class="name" data-name="" data-input="true" data-field="name" data-object="items"></div>
  <div class="desc" data-desc="" data-input="true" data-field="desc" data-object="items"></div>
  <hr>
  <p class="item__part_head">сенсоры</p>
  <div data-for="sensors"></div>

  <hr>
  <p class="item__part_head">устройства</p>
  <div data-for="tools"></div>
</li>
