<li class="item" data-id="" data-object="tools" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div class="header fa fa-arrows"></div>
  <div class="name" data-name="" data-input="true" data-field="name" data-object="tools"></div>
  <div class="desc" data-desc="" data-input="true" data-field="desc" data-object="tools"></div>
  <div class="onoffswitch">
    <input type="checkbox" role="input" class="switch" id="" data-action="tool push_status" data-id="">
    <label for=""></label>
  </div>
</li>
