<li class="item" data-id="" data-object="tools" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div class="header fa fa-arrows"></div>
  <div class="name" data-name="" data-input="true" data-field="name" data-object="tools"></div>
  <div class="desc" data-desc="" data-input="true" data-field="desc" data-object="tools"></div>

  <input type="range" role="input" class="range" min="0" max="100" step="0" value="0" id="" data-id="" data-action="tool push_status">
</li>
