<li class="item" data-id="" data-object="sensors" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div class="header fa fa-arrows"></div>
  <div class="name" data-name="" data-input="true" data-field="name" data-object="sensors"></div>
  <div class="desc" data-desc="" data-input="true" data-field="desc" data-object="sensors"></div>
</li>
