<div class="pure-u-1 content_part">

  <div class="form_content_div auth_form">
    <form class="pure-form pure-form-stacked freeze" action="/app.html" method="GET">
      <fieldset>
        <h2>Smart Home</h2>
        <h4>Авторизация</h4>

        <input type="text" placeholder="Логин" class="pure-u-1">
        <input type="text" placeholder="Пароль" class="pure-u-1">
        <button type="submit" class="pure-button pure-u-1">войти</button>
      </fieldset>
    </form>
  </div>

</div>
