<div class="pure-u-1" data-area="configure" style="display: none;">
  <div class="pure-menu pure-menu-horizontal pure-menu__configure">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link fa fa-plus" data-action="add new item"></a>
      </li>
    </ul>
  </div>

  <div class="pure-u-1 padding_left_20">
    <h3>Объекты</h3>
    <div class="gridster" data-container="items_all">
      <ul>
      </ul>
    </div>

    <h3>Устройства и Сенсоры</h3>
    <div class="gridster" data-container="tools_all sensors_all">
      <ul>
      </ul>
    </div>

  </div>
</div>
