<div class="pure-menu" data-area="left_menu">
  <a class="pure-menu-heading" href="/">
    Smart Home <span>control panel</span>
  </a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="#" data-render="configure">
        <span class="icon icon__configure"></span>
        <span class="desc">Объекты</span>
      </a>
    </li>
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="#" data-render="logics">
        <span class="icon icon__logics"></span>
        <span class="desc">Логика</span>
      </a>
    </li>
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="#" data-render="settings">
        <span class="icon icon__settings"></span>
        <span class="desc">Настройки</span>
      </a>
    </li>
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="#" data-render="logs">
        <span class="icon icon__logs"></span>
        <span class="desc">Журнал</span>
      </a>
    </li>
  </ul>
  <div class="squash_button" data-action="squash">
    <i class="fa fa-angle-left" data-role="squash" data-action="squash"></i>
  </div>
</div>
