<div class="pure-u-1" data-area="logics" style="display: none;">
  <div class="pure-menu pure-menu-horizontal pure-menu__configure">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link fa fa-plus" data-action="add new event"></a>
      </li>
    </ul>
  </div>

  <div class="pure-u-1 padding_left_20">
    <h3>Условия</h3>
    <div class="gridster" data-container="events_all">
      <ul>
      </ul>
    </div>

    <h3>Редактирование условий</h3>
    <div class="gridster" data-container="edit_events">
      <ul>
      </ul>
    </div>
  </div>
</div>
