<div class="pure-u-1" data-area="logs" style="display: none;">
  <div class="pure-menu pure-menu-horizontal pure-menu__configure">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link fa fa-plus" data-action=""></a>
      </li>
    </ul>
  </div>

  <div class="pure-u-1 padding_left_20">
    <h3>Журнал</h3>
    <div class="journal" data-container="journal"></div>
  </div>
</div>
