<div class="pure-u-1 hide" data-area="settings">
  <div class="settings_part">
    <div class="body__tool" data-id="settings_sensor_on_off">
      <span class="icon icon__configure"></span>

      <span class="body__tool_desc" data-edit="true" data-action="tool desc_edit_form_show" data-id="settings_sensor_on_off" role="settings sensors">Сенсоры</span>
      <span class="body__tool_value push_right" role="settings sensors_label"></span>

      <div class="onoffswitch">
        <input type="checkbox" role="input" class="switch" id="settings_sensor_on_off" data-action="settings sensors" data-id="settings_sensor_on_off" input-type="checkbox">
        <label for="settings_sensor_on_off"></label>
      </div>
    </div>
  </div>
</div>
