<% var ver = ("" + new Date().getTime()).slice(10, 14) %>
<script type="text/javascript" src="../js/jquery.min.js">    </script>
<script type="text/javascript" src="../js/jquery-ui.min.js"> </script>
<script type="text/javascript" src="../js/gridster.min.js">  </script>

<script type="text/javascript" src="../js/chai.js">                </script>
<script type="text/javascript" src="../js/mocha.js">               </script>
<script type="text/javascript" src="../js/main.js?ver=<%= ver %>"> </script>
<script type="text/javascript" src="../js/test.js?ver=<%= ver %>"> </script>

<script type="text/javascript" src="../js/livereload.js">          </script>
