<!DOCTYPE html>
<html lang="ru">
  <head>
    <% include ejs/head_part %>
  </head>
  <body class="chrome">
    <div class="part_left_menu" data-area="left_part">
      <% include ejs/left_menu %>
    </div>

    <div class="pure-g part_right" data-content="all" data-area="right_part">
      <% include ejs/configure2_part %>
      <% include ejs/logics2_part %>
      <% include ejs/settings2_part %>
      <% include ejs/logs_part %>

      <div class="modal_main" data-area="modal" w="true" w-id="">
        <div class="modal">
          <div class="modal_header">
            <span>-</span>
            <span class="fa fa-close" w-action="close" w-id=""></span>
          </div>
          <div class="modal_body">-</div>
          <div class="modal_footer">-</div>
        </div>
      </div>

      <div class="alert_area" data-area="alert">
        <ul>
          <li class="alert_item level_1" w-id="1" w="true">
            <p class="msg">Информация обычного характера</p>
            <span class="fa fa-close" w-action="close" w-id="1"></span>
          </li>
          <li class="alert_item level_2" w-id="2" w="true">
            <p class="msg">Сообщение о чем-то удачном</p>
            <span class="fa fa-close" w-action="close" w-id="2"></span>
          </li>
          <li class="alert_item level_3" w-id="3" w="true">
            <p class="msg">Сообщение о сохранении</p>
            <span class="fa fa-close" w-action="close" w-id="3"></span>
          </li>
          <li class="alert_item level_4" w-id="4" w="true">
            <p class="msg">Сообщение о обычной ошибке</p>
            <span class="fa fa-close" w-action="close" w-id="4"></span>
          </li>
          <li class="alert_item level_5" w-id="5" w="true">
            <p class="msg">-</p>
            <span class="fa fa-close" w-action="close" w-id="5"></span>
          </li>
          <li class="alert_item level_6" w-id="6" w="true">
            <p class="msg">-</p>
            <span class="fa fa-close" w-action="close" w-id="6"></span>
          </li>
          <li class="alert_item level_7" w-id="7" w="true">
            <p class="msg">-</p>
            <span class="fa fa-close" w-action="close" w-id="7"></span>
          </li>
          <li class="alert_item level_8" w-id="8" w="true">
            <p class="msg">Системное сообщение</p>
            <span class="fa fa-close" w-action="close" w-id="8"></span>
          </li>
          <li class="alert_item level_9" w-id="9" w="true">
            <p class="msg">Системная ошибка</p>
            <span class="fa fa-close" w-action="close" w-id="9"></span>
          </li>
        </ul>
      </div>

    </div>

    <% include ejs/js_part %>
  </body>
</html>
