html
  margin: 20px

blockquote
  background-color: #f0f0f0
  padding: 5px 20px
  margin: 0
  font-family: monospace, monospace
  font-size: 1em

ul
  li
    font-family: monospace, monospace
    font-size: 1em

table
  border: 1px solid #a0a0a0
  font-family: monospace, monospace

td, th
  padding: 5px 10px

strong, b
  font-family: monospace, monospace
