$box_shadow_low_color: #e51a00
$box_shadow_high_color: #0017e5
$item_base_width: 100px

$color1:  #FF6666
$color2:  #FF9999
$color3:  #FFCCCC
$color4:  #66FF66
$color5:  #99FF99
$color6:  #CCFFCC
$color7:  #6666FF
$color8:  #9999FF
$color9:  #CCCCFF
$color10: #FFF866
$color11: #FFFB99
$color12: #FFFDCC
$color13: #DD66FF
$color14: #E899FF
$color15: #F4CCFF
$color16: #66FFCF
$color17: #99FFDF
$color18: #CCFFEF


=box_shadow_gen($value, $color:#a0a0a0)
  box-shadow: 0 0 $value $color

=box_shadow_gen_inset($value, $color:#a0a0a0, $inset:"")
  box-shadow: 0 0 $value $color $inset

=transition_all
  transition: all 0.3s ease 0s

*
  box-sizing: border-box

html
  background-image: url("../img/grid.png")
  background-position: top left
  background-repeat: repeat
  margin: 0
  padding: 0

body
  margin: 0
  padding: 0

.part_left_menu
  position: fixed
  top: 0
  bottom: 0
  overflow: hidden
  width: 200px
  background-color: rgba(38, 48, 52, 0.3)
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5)
  transition: width 0.3s ease 0s

  .pure-menu-heading
    text-align: center
    font-size: 1.3em
    color: #fff
    font-weight: bolder
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1)
    background-color: rgba(255, 255, 255, 0.1)

    span
      display: block
      font-size: 0.5em

  .pure-menu-link
    text-align: center
    transition: all 0.3s ease 0s
    color: #555
    margin: 5px 5px 0px
    border-radius: 3px

    &:hover,&:focus
      background-color: rgba(0, 0, 0, 0.1)
      color: #000
      text-shadow: 0px 1px 1px #fff

      .icon
        background-position: center right

    .icon
      display: inline-block

    .desc
      display: block
      text-shadow: 0px 1px 1px #d6d6d6

  .pure-menu-item
    &.pure-menu-active
      .pure-menu-link
        background-color: rgba(31, 141, 214, 0.5)
        color: #000
        text-shadow: 0px 1px 1px #fff
        box-shadow: 0px 0px 2px #303030 inset

        .icon
          background-position: center right

  &.squash
    width: 100px

    .pure-menu-link
      .desc
        display: none

    .pure-menu-heading
      font-size: 0.6em

      span
        font-size: 0.36em

.part_right
  margin-left: 200px
  transition: margin 0.3s ease 0s
  padding-bottom: 250px

  &.squash
    margin-left: 100px

.hide
  display: none

.icon
  background-position: center left
  background-repeat: no-repeat
  background-size: cover
  height: 36px
  width: 36px

.icon__configure
  background-image: url("/img/gears6.png")

.icon__logics
  background-image: url("/img/points3.png")

.icon__light
  background-image: url("/img/bright4.png")

.icon__electrical
  background-image: url("/img/electrical10.png")

.icon__settings
  background-image: url("/img/wrench75.png")

.icon__sensor
  background-image: url("/img/line53.png")

.icon__logs
  background-image: url("/img/logs.png")

.squash_button
  position: absolute
  bottom: 0
  width: 100%
  height: 50px
  box-shadow: 0 0 7px #555
  text-align: center
  line-height: 50px
  transition: all 0.3s ease 0s
  color: #555
  font-size: 2em

  &:hover,&:focus
    box-shadow: 0 0 12px #555
    cursor: pointer
    color: #000

.pure-menu__configure
  background-color: rgba(0, 0, 0, 0.1)

.content_part
  padding: 16px 16px 0

  .content_part_column
    float: left

.form_content_div
  position: relative
  background-color: rgba(0, 0, 0, 0.1)
  padding: 5px 10px
  border-radius: 3px
  border: 1px solid #a0a0a0
  border-bottom: 1px solid #d0d0d0
  box-shadow: 0px 2px 5px #909090
  color: #707070

  h1,h2,h3,h4,h5
    margin-top: 0px
    margin-bottom: 10px
    text-shadow: 0 1px 1px #f0f0f0

  .submit
    margin-top: 15px

.close
  position: absolute
  right: 5px
  top: 5px
  color: #909090

  &:hover
    color: #333
    cursor: pointer
    text-shadow: 0 0 3px #333

.body__tool
  position: relative
  background-color: #f0f0f0
  margin-left: -10px
  padding-left: 10px
  padding-top: 5px
  padding-bottom: 5px
  padding-right: 10px
  margin-right: -10px
  border: 1px solid #c0c0c0
  border-radius: 3px
  margin-bottom: 12px
  box-shadow: 0 0 0 #a0a0a0
  transition: all 0.3s ease 0s
  &:hover
    box-shadow: 1px 1px 5px #b0b0b0
    border-radius: 3px 0 3px 3px

  .icon
    display: inline-block
    width: 20px
    height: 20px

  .body__tool_desc
    display: inline-block
    vertical-align: top
    line-height: 16px
    user-select: none
    border-bottom: 1px dashed rgba(100, 100, 100, 0)
    cursor: default
    transition: all 0.3s ease 0s
    max-width: 160px
    font-size: 0.85em

    &:hover
      cursor: pointer
      border-bottom: 1px dashed rgba(100, 100, 100, 0.8)

  .body__tool_value
    display: inline-block
    vertical-align: top
    line-height: 22px

  .pure-radio
    display: inline-block
    transition: all 0.3s ease 0s

    &:first-child
      margin-right: 10px

    input[type="radio"]
      vertical-align: middle
      outline: none

    &:hover
      cursor: pointer
      text-shadow: 0 0 3px #777

      input[type="radio"]
        text-shadow: 0 0 3px #777
        cursor: pointer

  .pure-checkbox
    display: inline-block

    &:after
      content: ""
      width: 10px
      height: 10px
      background-color: #333

    input[type="checkbox"]
      display: none

  .pure-input
    width: 100%

  .pure-button
    width: 100%

.push_right
  float: right

.button
  color: #909090

  &:hover
    cursor: pointer
    color: #333
    cursor: pointer

.xsmall
  font-size: 70%
  padding-left: 8px
  padding-right: 8px

.small
  font-size: 85%
  padding-left: 5px
  padding-right: 5px

.large
  font-size: 110%
  padding-left: 5px
  padding-right: 5px

.xlarge
  font-size: 125%
  padding-left: 5px
  padding-right: 5px

.pure-form
  &.stacked
    .pure-button-primary
      position: relative
      display: block
      border: 1px solid #0078e7
      border-radius: 0 3px 3px 0
      margin-left: -2px
      width: 15%

    .pure-input
      &[type="text"]
        position: relative
        display: block
        border-radius: 3px 0 0 3px
        float: left
        width: 85%

.border_plus
  border: 1px solid #f00

.events_area_top
  margin-bottom: 20px

  .events_part__elements
    background-color: hsla(0, 0%, 94%, 0.5)

    ul
      list-style-type: none
      margin: 0
      padding: 10px

      li[role="logics"]
        display: inline-block
        border: 1px solid #c0c0c0
        padding: 5px
        text-align: center
        box-shadow: 0 0 0 #fff
        width: 150px
        background-color: transparent
        font-weight: bold

        &:hover
          border: 1px solid #a0a0a0
          box-shadow: 0 0 5px rgba(112, 112, 112, 0.5)
          cursor: pointer
          background-color: #fff

.events_area_bottom
  min-height: 300px

  ul
    list-style-type: none
    margin: 0
    padding: 10px

    li
      border: 1px solid #c0c0c0
      padding: 5px
      margin: 5px
      text-align: center
      box-shadow: 0 0 0 #fff
      width: 150px
      background-color: transparent

      &:hover
        border: 1px solid #a0a0a0
        box-shadow: 0 0 5px rgba(112, 112, 112, 0.5)
        cursor: pointer
        background-color: #fff

.events_area_name
  [data-field]
    text-align: center
    padding: 10px
    background-color: rgba(0, 0, 0, 0.1)
    margin-bottom: 10px

.events_area_field
  position: relative
  border: 1px solid #a0a0a0
  float: left
  width: 45%
  min-height: 200px
  margin: 0 5px 0 0

  &[role*="condition"]
    background-color: rgba(0, 195, 255, 0.2)

    ul
      width: 100%
      min-height: 300px
      position: relative

      li
        border: 1px solid #c0c0c0
        padding: 5px
        margin: 10px
        text-align: center
        box-shadow: 0 0 0 #fff
        width: 150px
        background-color: #fff

        &:hover
          border: 1px solid #a0a0a0
          box-shadow: 0 0 5px rgba(112, 112, 112, 0.5)
          cursor: pointer
          background-color: #fff

  &[role*="reaction"]
    background-color: rgba(0, 229, 122, 0.2)

    ul
      width: 100%
      min-height: 300px
      position: relative

      li
        border: 1px solid #c0c0c0
        padding: 5px
        margin: 10px
        text-align: center
        box-shadow: 0 0 0 #fff
        width: 150px
        background-color: #fff

        &:hover
          border: 1px solid #a0a0a0
          box-shadow: 0 0 5px rgba(112, 112, 112, 0.5)
          cursor: pointer
          background-color: #fff

hr
  border-left: none
  border-right: none

.item.event
  min-height: auto
  display: inline-block
  box-shadow: 0 0 0 rgba(0, 0, 0, 0)
  transition: box-shadow 0.08s ease 0s

  &:hover
    cursor: pointer

  &.flag
    box-shadow: 0px 2px 12px #999, 0 12px 22px -12px #555

.ui-state-highlight
  min-height: 30px
  background-color: transparent !important
  border: 1px dashed #000000 !important

.auth_form
  width: 300px
  margin: 0 auto
  margin-top: 50px
  text-align: center

  input[type="text"]
    margin: 15px auto

.clear
  clear: both

.tools_part
  border: 1px solid #a0a0a0
  padding: 20px 15px
  box-shadow: 0px 3px 14px #888 inset
  margin-top: 10px
  position: relative

  .body__tool
    margin-left: 0
    margin-right: 10px
    width: 236px
    display: inline-block
    vertical-align: top

#events_tools_elements
  position: relative
  padding: 20px 15px

  .body__tool
    margin-left: 0
    margin-right: 10px
    width: 236px
    display: inline-block
    vertical-align: top

div[data-showid]
  color: #707070
  text-shadow: 1px 1px 0px #fff
  font-size: 0.7em
  text-align: right
  padding: 4px 0 0 0

.settings_part
  padding: 20px 15px
  margin-top: 10px

  .body__tool
    margin-left: 0
    margin-right: 10px
    width: 236px
    display: inline-block
    vertical-align: top

.ui-state-hover
  background-color: #c5ffd1

.onoffswitch
  position: relative
  width: 100%
  margin-top: 5px

  .switch
    display: none

  .switch + label
    display: block
    overflow: hidden
    cursor: pointer
    height: 15px
    padding: 0
    margin: 0
    border: 1px solid #b0b0b0
    border-radius: 3px
    background-color: #e0e0e0
    transition: all 0.3s ease 0s
    box-shadow: 1px 1px 3px #c0c0c0 inset

    &:before
      content: ""
      display: block
      width: 50%
      height: 15px
      margin: 0px
      background: #FFFFFF
      position: absolute
      top: 0
      bottom: 0
      left: 0
      border-radius: 3px
      border: 1px solid #a0a0a0
      transition: all 0.3s ease 0s
      box-sizing: border-box
      box-shadow: 0 0 5px #a0a0a0

  .switch:checked + label
    background-color: #fff

    &:before
      left: 50%

.safari, .chrome, .opera
  input[type="range"]
    -webkit-appearance: none
    width: 100%
    border-radius: 8px
    height: 7px
    background-color: #fff
    box-shadow: 0 3px 5px #aaa inset
    border-bottom: 1px solid #e0e0e0
    outline: none
    &::-webkit-slider-thumb
      -webkit-appearance: none
      background-color: #ffffff
      border: 1px solid #bdc3c7
      width: 15px
      height: 15px
      border-radius: 10px
      cursor: pointer
      transition: all 0.3s ease 0s
      &:hover,&:focus,&:active
        border: 1px solid #a0a0a0
        box-shadow: 0 0 5px #707070

.firefox
  input[type=range]
    width: 100%

    &::-moz-range-track
      border-radius: 8px
      height: 7px
      border: 1px solid #bdc3c7
      background-color: #fff

    &::-moz-range-thumb
      background: #ecf0f1
      border: 1px solid #bdc3c7
      width: 20px
      height: 20px
      border-radius: 10px
      cursor: pointer

.ie
  input[type="range"]
    &::-ms-fill-lower, &::-ms-fill-upper
      background: transparent

    &::-ms-track
      border-radius: 8px
      height: 7px
      border: 1px solid #bdc3c7
      background-color: #fff

    &::-ms-thumb
      background-color: #ecf0f1
      border: 1px solid #bdc3c7
      width: 20px
      height: 20px
      border-radius: 10px
      cursor: pointer

.top_all
  z-index: 1000

.get_data
  animation: get_data_show 0.5s 1 linear

.volume_low
  animation: volume_low 1.5s infinite linear

.volume_high
  animation: volume_high 1.5s infinite linear

@keyframes get_data_show
  0%
    +box_shadow_gen(1px)
  10%
    +box_shadow_gen(3px)
  20%
    +box_shadow_gen(6px)
  30%
    +box_shadow_gen(10px)
  40%
    +box_shadow_gen(15px)
  50%
    +box_shadow_gen(20px)
  60%
    +box_shadow_gen(15px)
  70%
    +box_shadow_gen(10px)
  80%
    +box_shadow_gen(6px)
  90%
    +box_shadow_gen(3px)
  100%
    +box_shadow_gen(1px)

@keyframes volume_low
  0%
    +box_shadow_gen_inset(1px, $box_shadow_low_color, inset)
  10%
    +box_shadow_gen_inset(2px, $box_shadow_low_color, inset)
  20%
    +box_shadow_gen_inset(3px, $box_shadow_low_color, inset)
  30%
    +box_shadow_gen_inset(5px, $box_shadow_low_color, inset)
  40%
    +box_shadow_gen_inset(8px, $box_shadow_low_color, inset)
  50%
    +box_shadow_gen_inset(10px, $box_shadow_low_color, inset)
  60%
    +box_shadow_gen_inset(8px, $box_shadow_low_color, inset)
  70%
    +box_shadow_gen_inset(5px, $box_shadow_low_color, inset)
  80%
    +box_shadow_gen_inset(3px, $box_shadow_low_color, inset)
  90%
    +box_shadow_gen_inset(2px, $box_shadow_low_color, inset)
  100%
    +box_shadow_gen_inset(1px, $box_shadow_low_color, inset)

@keyframes volume_high
  0%
    +box_shadow_gen_inset(1px, $box_shadow_high_color, inset)
  10%
    +box_shadow_gen_inset(2px, $box_shadow_high_color, inset)
  20%
    +box_shadow_gen_inset(3px, $box_shadow_high_color, inset)
  30%
    +box_shadow_gen_inset(5px, $box_shadow_high_color, inset)
  40%
    +box_shadow_gen_inset(8px, $box_shadow_high_color, inset)
  50%
    +box_shadow_gen_inset(10px, $box_shadow_high_color, inset)
  60%
    +box_shadow_gen_inset(8px, $box_shadow_high_color, inset)
  70%
    +box_shadow_gen_inset(5px, $box_shadow_high_color, inset)
  80%
    +box_shadow_gen_inset(3px, $box_shadow_high_color, inset)
  90%
    +box_shadow_gen_inset(2px, $box_shadow_high_color, inset)
  100%
    +box_shadow_gen_inset(1px, $box_shadow_high_color, inset)


.padding_left_20
  padding-left: 20px

.item__part_head
  padding: 5px

.gridster
  margin: 20px 0 20px 0px

  ul
    box-shadow: 0 2px 15px #555


  .gs-w
    cursor: auto

  > ul
    > li
      overflow: hidden
      font-weight: normal
      font-size: 0.8em
      text-align: left
      box-shadow: 0px 0px 3px #000

.item

  .name, .desc
    display: block
    padding: 5px
    margin-bottom: 3px

  .header
    width: 100%
    background-color: #c0c0c0
    color: #c0c0c0
    padding: 5px
    text-align: right
    +transition_all

    &:hover
      cursor: move
      background-color: #c0c0c0 - #303030
      color: #fff

  input[type="text"]
    width: 100%
    padding: 3px
    margin-bottom: 3px
    outline: none

    &:focus
      outline: 1px solid #000

.modal_main
  display: none
  position: fixed
  z-index: 3000
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.3)

  .modal
    position: absolute
    width: 50%
    background-color: #fff
    height: auto
    top: 0
    left: 0
    right: 0
    margin: 50px auto

    .modal_header
      background-color: #f0f0f0
      padding: 10px

      span.fa
        float: right

        &:hover
          cursor: pointer

    .modal_body
      padding: 10px

    .modal_footer
      background-color: #f0f0f0
      padding: 10px

.journal
  line-height: 0
  font-size: 0.8em

  .journal__message
    padding: 12px
    margin: 0
    background-color: rgba(0, 0, 0, 0)
    +transition_all

    &:hover
      background-color: rgba(0, 0, 0, 0.5)
      color: #ffffff
      cursor: pointer

.alert_area
  letter-spacing: normal
  position: fixed
  right: 20px
  top: 20px
  width: 300px
  height: auto
  border: 1px solid #a0a0a0

  ul
    list-style-type: none
    margin: 0
    padding: 10px

  .alert_item
    border: 1px solid #a0a0a0
    padding: 0px
    margin: 5px 0
    background-color: rgba(255, 255, 255, 0.5)
    position: relative

    &.level_1
      background-color: $color9

    &.level_2
      background-color: $color4

    &.level_3
      background-color: $color7

    &.level_4
      background-color: $color3

    &.level_5
      background-color: #fff

    &.level_6
      background-color: #fff

    &.level_7
      background-color: #fff

    &.level_8
      background-color: $color13

    &.level_9
      background-color: $color1

    p
      padding: 0 30px 0 5px
      margin: 5px 0

    .fa
      position: absolute
      top: 0
      right: 0
      height: 100%
      text-align: center
      width: 30px
      +transition_all

      &:before
        display: inline-block
        vertical-align: middle

      &:hover
        cursor: pointer
        box-shadow: 0 0 5px #777 inset

