<meta http-equiv="content-type"  content="text/html; charset=utf-8" />
<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="pragma"        content="no-cache" />
<meta http-equiv="expires"       content="0" />
<meta name="viewport"            content="width=device-width, initial-scale=1">

<!--[if lte IE 8]>
  <link rel="stylesheet" href="../css/grids-responsive-old-ie-min.css">
<![endif]-->

<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="../css/grids-responsive-min.css">
<!--<![endif]-->

<link rel="stylesheet" href="../css/pure-min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/doc.css">

<title>SmartHome Control Panel - DOC</title>

<link rel="apple-touch-icon" sizes="57x57"   href="../favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60"   href="../favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72"   href="../favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76"   href="../favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="../favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32"   href="../favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96"   href="../favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16"   href="../favicon/favicon-16x16.png">
<link rel="manifest" href="../favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
